.singleSite-list li:nth-child(even) {
    background: var(--lightest-gray);
}

.singleSite-list li:hover {
    background: var(--light-gray);
    transition: background 0.2s;
}

.close-button {
    cursor: default;
}

.websites-window {
    display: inline-block;
    background: var(--white);
    width: 450px;
    height: 300px;
    border: 3px double #777;
    overflow-y: scroll;
    z-index: 4;
    margin: -95px auto;
    box-shadow: 6px 5px 10px -6px rgba(0,0,0,0.75);
    ul {
        padding-top: .5rem;
    }
    @media only screen and (max-width: 600px) {
        width: 320px;
        
      }
    
  }

  .margin-container {
      margin-left: 10%;
      margin-top: -325px;
      @media only screen and (max-width: 600px) {
        margin-left: 3.2rem;
        margin-top: -10rem;
      }
  }

 .websites-window li {
      color: var(--font-color);
      
  }
