

.wallpaper-content {
    padding: 1rem;
    z-index: 7;
    h3 {
        font-weight: 600;
    }
    button  {
        text-transform: uppercase;
        display: inline-block;
        margin: var(--space-lg) 6px;
        transform: scale(.97);
        transition: transform .125s;;
    }
    
    button:hover {
       transform: scale(1);
    }

}

.active-wallpaper {
    outline: 3px solid lightblue;
}


