.preferences-margin-container {
    margin-left: 6rem;
    margin-top: -10rem;
    padding: 0;
    @media only screen and (max-width: 600px) {
        margin-left: 3rem;
      }
}

header {
    border-top: 2px double #222;
    border-bottom: 2px double #222;
    padding: 6px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    background: rgb(228, 228, 228);
    p {
        font-weight: 600;
        color: black;
    }
}

.preferences-container {
    z-index: 7;
    padding: 0;
}
