body {
    background: url('/wallpaper/blue.png');
}

.stars {
    background: url('/wallpaper/stars.png');
}

.green {
    background: url('/wallpaper/green.png');
}

.gray {
    background: url('/wallpaper/gray.png');
}

div {
    font-family: 'Courier New', Courier, monospace;
}

.entire-display {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .window-container {
        margin: auto;
    }
   
}

.icons-container {
    display: flex;
    p.icon-title {
        color: white;
        margin-top: 3px;
        font-weight: 600;
    }
}