body {
    background: #007576; 
}

.stars {
    background: url('/wallpaper/stars.png');
}

.blue {
    background: url('/wallpaper/blue.png');
    
}

div {
    font-family: 'Courier New', Courier, monospace;
}

.entire-display {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.icons-container {
    display: flex;
}