body {
    background: url('/wallpaper/blue.png'); 
    p.icon-title {
        color: white;
    }
}

.stars {
    background: url('/wallpaper/stars.png');
    p.icon-title {
        color: white;
    }
}

.green {
    background: url('/wallpaper/green.png'); 
    p.icon-title {
        color: black;
    }
}

.gray {
    background: url('/wallpaper/gray.png');
    p.icon-title {
        color: white;
    }
}

div {
    font-family: 'Courier New', Courier, monospace;
}

.entire-display {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.icons-container {
    display: flex;
}