body {
    margin: 0;
    padding: 0;
    
  }
  
  a {
    text-decoration: none;
  }
  
 
 
  
  .window {
    background: #222;
    width: 450px;
    height: 300px;
    padding: 1rem;
    border: 3px solid #777;
    overflow-y: scroll;
    z-index: 9;
    margin: auto;
    box-shadow: 6px 5px 10px -6px rgba(0,0,0,0.75);
    cursor: default;
  }
  
  h1, h2 {
    font-weight: 200;
    font-size: 1rem;
  }
  
  p, h1, h2, li {
    font-family: Courier;
    color: #33ff00;
    text-transform: uppercase;
    letter-spacing: .35px;
    list-style: none;
  }
  
  p {
    margin: 1.25rem 0;
  }
  li {
    line-height: 1.5rem;
  }
  
  